
/*help category index*/
.wphd-grid {overflow: hidden; margin-left: -20px; margin-right: -20px;}
.wphd-grid > * {box-sizing: border-box;}
.wphd-column {margin-right: -4.29px; display: inline-block; vertical-align: top;}
.wphd-1-1 {width: 100%;}
.wphd-1-2 {width: 50%;}
.wphd-1-3 {width: 33.33%;}
.wphd-cat-box {padding: 30px; margin: 20px; border: 1px solid rgba(0,0,0,.1);}
.wphd-cat-name, .wphd-cat-count {text-align: center;}
.wphd-cat-description {font-size: .9em; line-height: 1.5em; margin-bottom: 15px; text-align: center;}
.wphd-cat-count {display: block; border: 2px solid rgba(0,0,0,.1); border-radius: 25px; padding: 8px;}
.wphd-articles-list {margin-top: 15px;}
.wphd-articles-list ul {list-style-type: none; margin: 0; padding: 0; overflow: scroll;}
.wphd-articles-list ul li, .wphd-article-list-sidebar li {padding-left: 25px !important; line-height: 1.4em; background: url("../images/page.svg") 0 50% no-repeat; background-size: 18px; margin: 10px 0;}
.wphd-articles-list ul li#loader {background: url("../images/ripple.svg") 0 50% no-repeat; color: rgba(0,0,0,.3);}
.wphd-articles-list .wphd-pagination {border-top: 1px solid rgba(0,0,0,.1); padding-top: 10px; margin-top: 10px;}
.wphd-articles-list .wphd-pagination a {display: inline; padding: 5px; border: 1px solid rgba(0,0,0,.075); border-radius: 3px; font-size: 10px; color: inherit;}
.wphd-articles-list .wphd-pagination a.active {font-weight: bold; border: 1px solid rgba(0,0,0,.2);}
@media only screen and (max-width: 667px) and (orientation : portrait) {
	.wphd-grid {margin: 0;}
	.wphd-1-1, .wphd-1-2, .wphd-1-3 {width: 100%;}
	.wphd-cat-box {margin: 0 0 30px; border: 1px solid rgba(0,0,0,.1);}
}


/*help sidebar*/
.wphd-article-list-sidebar {list-style-type: none; margin: 0; padding: 0;}
.wphd-article-list-sidebar li.active {font-weight: bold;}
.wphd-back .wphd-hr {border-bottom: 2px solid rgba(0,0,0,.1); padding-bottom: 20px; margin-bottom: 20px;}
.wphd-back p {text-align: center;}